<div class="container">
  <mat-card class="login">
    <mat-card-title>
      <mat-icon color="primary" style="margin-left: -40px;">school</mat-icon>
      <h1>&#123; academia &#125;</h1>
    </mat-card-title>
    <mat-card-content class="login-campos">
      <mat-form-field>
        <mat-label>email</mat-label>
        <input type="text" matInput required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>password</mat-label>
        <input type="text" matInput required>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary">login</button>
    </mat-card-actions>
  </mat-card>
</div>


