<div class="container">
    <mat-card>
        <div class="cabecera">
            <mat-card-header>
                <h1>Alumnos</h1>
            </mat-card-header>
            <img mat-card-imag style="width: 300px;"  src="../assets/img/materias.jpg" alt="logo materias">
        </div>

        <mat-card-content>
            <div class="contenedor-formulario">
                <div class="formulario">
                   <form action="">
                       <mat-form-field>
                           <mat-label>Nombre</mat-label>
                           <input matInput placeholder="Nombre">
                       </mat-form-field>
                   </form>
                </div>
            </div>
        </mat-card-content>
        
    </mat-card>
</div>
