mat-card {
    margin-top: 20px;
}

img {
    width: 200px;
}

#formulario {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

button {
    margin-right: 10px;
}



.example-tree-invisible {
    display: none;
  }
  
.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}